<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar">
</span>
                </button>
                <!-- Logo -->
                <a class="navbar-brand page-scroll" href="#page-top">
                <div class="logo">
                <img src="img/MWFlogo.png" height="32" width="auto"/>
                </div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services"> About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
         
    <header>
        <div class="container">
         
           <div class="intro-text">
              <img src="img/MWFlogo.png" align="middle" style="margin:0px 0px" height="102" width="auto"/>
             <p><strong><font size="7"> Water is an essential need for life </font> </strong></p>
        <div id="typed-strings">
        <p>Yet millions are left struggling to fulfill this need...</p>
           <p>Learn about MWF's latest project...</p>
           <p>Yet millions need to walk for miles to access it...</p>
           <p>Learn about MWF's latest project...</p> 
          <p>Yet millions thirst for a single drop of clean water...</p>
           <p>Learn about MWF's latest project...</p>
        </div>
        <span id="typed"></span>
         <div class="intro-heading">Time for you to help</div>
                
             <a href="https://www.youcaring.com/mwf" class="page-scroll btn btn-xl">CLICK HERE</a>
            </div>
        </div>
    </header>
    
    
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
