<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who are we</h2>
                    <p class="section-subheading text-muted">
                    We are a group of volunteers focused on the creation of water wells and systems in areas around the world that have water deficiency issues.  We partner with various registered charities and non-profit organizations and strive to raise funds for specific locations where the charity or non-profit organization has a presence and contacts.  The Muslim Water Fund was created in order to act as a fundraising agent for the partner charity or non-profit organization that solely strives to gather funds for water projects. All your donations are fully given (100%) to the partner charity or organization and used towards specific water projects. We volunteer all of our time and efforts for the sake of Allah (God) alone.  We aim to be transparent and provide follow-up details for each successfully funded project Inshallah (God-Willing).
                   </p>
               <!-- img <div class="col-lg-12 text-center">
                       <div class="tap">
                       <img src="img/tap.png" alt="tap" height="202" width="auto"/>
                       </div>
                    </div>--> 
            </div>
        </div>
    </section>